.idea
.vscode
yarn.*
yarn-*
build
dist
*.env
node_modules

frontend/modules
frontend/dist
frontend/node_modules
frontend/.env
frontend/tsconfig.tsbuildinfo

backend/src/uploads
backend/node_modules
backend/prisma/migrations
backend/.env
backend/.git
