.idea
.vscode

frontend/node_modules
frontend/modules
frontend/dist
frontend/.env
frontend/tsconfig.tsbuildinfo

backend/node_modules
backend/build
backend/.env
backend/tsconfig.release.json
backend/yarn.lock
